
[mcu cartographer]
#canbus_uuid: 0ca8d67388c2 
serial: /dev/serial/by-id/usb-Cartographer_stm32f042x6_240035000E43304146393320-if00
        
#    adjust to suit your scanner, if using usb change to serial

[cartographer]
mcu: cartographer            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: -23.5                       
#    adjust for your cartographers offset from nozzle to middle of coil
#   the sensor response.  


[bed_mesh]
zero_reference_position: 150, 150    
#    set this to the middle of your bed
speed: 300
#    movement speed of toolhead during bed mesh
horizontal_move_z: 3
#    height of scanner during bed mesh scan
mesh_min: 35, 6
#    start point of bed mesh [X, Y]
mesh_max: 240, 198
#    end point of bed mesh [X, Y]
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
cs_pin: cartographer:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20


