## Step 1: In Mainsail console: ACCELEROMETER_QUERY. Ensure the sensor is alive.
## Step 2: In Mainsail console: TEST_RESONANCES AXIS=X. Result will be located here: /tmp/resonances_x_*.csv
## Step 3: In Mainsail console: TEST_RESONANCES AXIS=Y. Result will be located here: /tmp/resonances_y_*.csv
## Step 4: Generate analysis results via SSH terminal: 
##         ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_x_*.csv -o /tmp/shaper_calibrate_x.png
##         ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_y_*.csv -o /tmp/shaper_calibrate_y.png
##         Results will be located here: /tmp/shaper_calibrate_x.png and /tmp/shaper_calibrate_y.png


[mcu PIS]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E66118F5D7206536-if00

[adxl345]
cs_pin: PIS:gpio13
#spi_bus: spi1a
spi_software_sclk_pin: PIS:gpio10
spi_software_mosi_pin: PIS:gpio11
spi_software_miso_pin: PIS:gpio12
axes_map: x,-z,y

[resonance_tester]
#accel_chip: adxl345 usbadxl
accel_chip: adxl345 
probe_points:
    150,150,15 # an example
